<div class="data-table">
  <!-- Tìm kiếm -->
  <div class="search-bar">
    <input
      type="text"
      placeholder="Search..."
      [(ngModel)]="searchQuery"
      (input)="onSearch(searchQuery)"
    />
  </div>

  <!-- Phân trang -->
  <div class="pagination-wrapper">
    <div class="pagination">
      <button
        *ngFor="let page of [].constructor(totalPages); let i = index"
        [class.active]="currentPage === i + 1"
        (click)="goToPage(i + 1)"
      >
        {{ i + 1 }}
      </button>
    </div>
  </div>

  <div><br /></div>

  <!-- Bảng -->
  <table>
    <thead>
    <tr>
      <th *ngFor="let header of tableHeaders">{{ header }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of getCurrentPageData()">
      <td *ngFor="let header of tableHeaders">{{ row[header] }}</td>
    </tr>
    </tbody>
  </table>
</div>
