<div class="data-table">
  <!-- Tìm kiếm -->
  <div class="search-bar">
    <input
      type="text"
      placeholder="Search..."
      [(ngModel)]="searchQuery"
      (input)="onSearch(searchQuery)"
    />
  </div>

  <!-- Phân trang -->
  <div class="pagination-wrapper">
    <div class="pagination-info">
      <div class="pagination">
        <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
          Prev
        </button>

        <button
          *ngFor="let page of getPaginationRange()"
          [disabled]="page === '...'"
          [class.active]="page === currentPage"
          (click)="page !== '...' && goToPage(page)"
        >
          {{ page }}
        </button>

        <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">
          Next
        </button>
      </div>

      <div class="page-info">
        Page {{ currentPage }} of {{ totalPages }}
        <span *ngIf="totalItems > 0"> | Total items: {{ totalItems }}</span>
        <span *ngIf="totalItems === 0"> | No items found</span>
      </div>
    </div>

    <div class="items-per-page">
      <label for="itemsPerPage">Items per page: </label>
      <select (change)="onPageSizeChange($event)" [value]="pageSize">
        <option *ngFor="let option of pageSizeOptions" [value]="option">{{option}}</option>
      </select>
    </div>
  </div>

  <div><br /></div>

  <table>
    <thead>
    <tr>
      <th *ngFor="let header of tableHeaders">{{ header }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of getCurrentPageData()">
      <td *ngFor="let header of tableHeaders">{{ row[header] }}</td>
    </tr>
    </tbody>
  </table>
</div>
