$color_1: #fff;
$font-family_1: Arial, sans-serif;
$background-color_1: #f4f4f4;
$background-color_2: #fff;
$background-color_3: #007bff;
$border-color_1: #007bff;

.data-table {
  width: 100%;
  margin: 0 auto;
  font-family: $font-family_1;
}
.search-bar {
  margin-bottom: 10px;
  input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: $background-color_1;
  }
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pagination-info {
    width: 70%;
    .pagination {
      display: flex;
      gap: 4px;

      button {
        min-width: 35px;
        padding: 4px 8px;
        border: 1px solid #ccc;
        background: white;
        cursor: pointer;

        &.active {
          font-weight: bold;
          background: #007bff;
          color: white;
        }

        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }
  }

  .items-per-page {
    select {
      min-width: 35px;
      padding: 4px 8px;
      border: 1px solid #ccc;
      background: white;
      cursor: pointer;
    }
  }
}
